<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
    <title><%- faucetName %></title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body style="background-color: #500;">
    <nav id="myNav" class="navbar is-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="images/logo-signet.svg" alt="<%- faucetName %>">
                    <%- faucetName %>
                </a>
            </div>
        </div>
    </nav>

    <div class="content" style="background-color: #500;">
        <!-- body-->
        <section class="section" style="background-color: #500;">
            <div class="container " style="background-color: #500; color: #bb0;">
                <br><br><br>
                <b>vi</b> Đồng tiền Signet là đồng tiền thử nghiệm vôgiá trị. Đừng lãng phí thời gian của bạn. <br>
                <b>tr</b> Signet koinlerinin hiç bir mali değeri yoktur ve sadece test amaçlı kullanılabilir. Zamanınızı boşa harcamayın. <br>
                <b>sv</b> Pengar på signet är värdelösa testpengar. Sluta slösa bort din tid. <br>
                <b>ru</b> <%- Math.random() >= 0.5 ? 'Монеты signet тестовые, они ничего не стоят. Хватит заниматься фигней.' : 'Монеты Signet не имеют ценности. Не тратьте свое время зря.' %> <br>
                <b>ro</b> Monezile Signet sunt de test si fara valoare. Nu va pierdeti timpul! <br>
                <b>pt</b> <%- Math.random() >= 0.5 ? 'As moedas da Signet são moedas de teste e sem valor. Pare de perder o seu tempo.' : 'Moedas do signet são moedas de teste sem valor. Para de perder seu tempo.' %> <br>
                <b>pl</b> Tokeny signet są nic nie wartymi tokenami sieci testowej. Przestań marnować swój czas. <br>
                <b>nl</b> Signet munten zijn waardeloze testmunten. Stop met je tijd te verspillen. <br>
                <b>ko</b> 시그넷 코인은 테스트용 코인으로써 아무런 가치가 없습니다. 시간 낭비 하지 않으셔도 됩니다. <br>
                <b>kn</b> ಸಿಗ್ನೆಟ್ ನಾಣ್ಯಗಳು ಏನೇನು ಬೆಲೆ ಇಲ್ಲದ ಶೋಧನಾ ನಾಣ್ಯಗಳು. ಇವುಗಳ ಮೇಲೆ ದಯವಿಟ್ಟು ನಿಮ್ಮ ಸಮಯ ವ್ಯರ್ಥ ಮಾಡಬೇಡಿ. <br>
                <b>ja</b> シグネットコインは価値が無いテストコインだ。時間を無駄しないように。 <br>
                <b>id</b> Signet bukanlah uang dan tidak memiliki nilai jual. Jangan buang waktu saya & anda yang lebih berharga. <br>
                <b>hi</b> सिग्नेट सिक्के बेकार परीक्षण सिक्के हैं।  अपना समय बर्बाद करना बंद करो। <br>
                <b>fr</b> Les coins Signet sont des coins de test sans valeur. Arrêtez de perdre votre temps. <br>
                <b>es</b> <%- Math.random() >= 0.5 ? 'La moneda Signet no tiene valor y estan solo para prueba.   Deja de perder tu tiempo.' : 'Las monedas de Signet son monedas de prueba sin valor. Deja de perder el tiempo.' %> <br>
                <b>en</b> Signet coins are worthless test coins. Stop wasting your time.<br>
                <b>el</b> Τα νομίσματα του δικτύου Signet είναι δοκιμαστικά νομίσματα με μηδενική αξία. Σταματήστε να χάνετε τον χρόνο σας. <br>
                <b>de</b> <%- Math.random() >= 0.5 ? 'Signetcoins sind wertlose Testtokens. Hör auf Deine Zeit zu verschwenden!' : 'Signet Coins werden ausschließlich zum Testen verwendet und haben keinen monetären Wert. Verschwenden Sie nicht ihre Zeit.' %> <br>
                <b>ch-de</b> Signetmünze sind wertloosi Teschtmünze. Hör uuf, dini Ziit verschwände. <br>
                <b>ca</b> Les Signet són monedes de test sense valor. Para de perdre el temps. <br>
                <b>bn</b> সিগনেট পয়সা কোনো কাজের না, খালি যাচাই করতে কাজে লাগে। এই নিয়ে সময় নষ্ট করবেন না। <br>
                <b>bg</b> Монетите Сигнет са тестови и нямат никаква стойност. Престанете да се занимавате с глупости и да си губите времето. <br>
                <b>af</b> Signet muntstukke is waardelose toetsmuntstukke. Hou op jou tyd mors. <br>
            </div>
        </section>
    </div>
</body>
</html>
